snippet fm "markdown博客的导言区" iA
---
title: $1
url: $2
# 可选 notes, stories, journal, travels, memos, 是为了显示文章时左侧位置还在
section: $3
date: 20$4-$5-$6
summary: $7
tags:
- $8
categories:
- $9
series: $10
weight: $11
---
$0
endsnippet
