# set Chinese language here, to avoid tty chaos if globally
export LANG=zh_CN.UTF-8
export LANGUAGE=zh_CN;en_US

# wallpaper
nitrogen .wallpaper/Holden\ Crater.jpg --set-zoom-fill

# ibus
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
ibus-daemon -x -d

# select the default PCM via environment variable
# See, ArchWiki: Advanced_Linux_Sound_Architecture #Set the default sound card
export ALSA_CARD=PCH
