#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"


! RULES:----------------------------------------------------------------------- 
! Copied from ArchWiki: X resources
! 
! name.Class.resource: value
! 
! name: the name of the application, such as xterm, xpdf, etc.
! class: the classification used to group resources together, typically uppercase
! resource: the name of the resource whose value is to be changed
!
! ? and * can be used as wildcards

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


! -----------------------------------------------------------------------------
! The following are for urxvt (rxvt-unicode), a terminal emulator
! The theme color is copied from github
! Source: https://github.com/AntSunrise/URxvt-themes/blob/master/pretty
! 
! Last Modified: 2020-05-30
! Modified by: Zero
!
! RULES:-----------------------------------------------------------------------
! copied from urxvt(1) manual page
! 
! classname: Rxvt or URxvt
! resources name can be found in uxrvt(1) manual page
! -----------------------------------------------------------------------------


! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift + Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! disable the scrollback buffer for the secondary screen
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! font set
URxvt.font: xft:Fantasque Sans Mono:regular:size=18
URxvt.boldFont: xft:Fantasque Sans Mono:bold:size=18
URxvt.italicFont: xft:Fantasque Sans Mono:italic:size=18

! color set
URxvt.foreground: #7f8f9f
URxvt.background: #0c0d0e
! black + red
!URxvt.color0:     #3f3f3f
URxvt.color0:      #101010
URxvt.color1:      #705050
! green + yellow
URxvt.color2:      #60b48a
URxvt.color3:      #f0dfaf
! blue + purple
URxvt.color4:      #506070
URxvt.color5:      #dc8cc3
! cyan + white
URxvt.color6:      #8cd0d3
URxvt.color7:      #dcdccc
! bright-black + bright-red
URxvt.color8:      #000000
URxvt.color9:      #dca3a3
! bright-green + bright-yellow
URxvt.color10:     #c3bf9f
URxvt.color11:     #f0dfaf
! bright-blue + bright-purple
URxvt.color12:     #94bff3
URxvt.color13:     #ec93d3
! bright-cyan + bright-white
URxvt.color14:     #93e0e3
URxvt.color15:     #ffffff
