#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"


! RULES:----------------------------------------------------------------------- 
! Copied from ArchWiki: X resources
! 
! name.Class.resource: value
! 
! name: the name of the application, such as xterm, xpdf, etc.
! class: the classification used to group resources together, typically uppercase
! resource: the name of the resource whose value is to be changed
!
! ? and * can be used as wildcards

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! -----------------------------------------------------------------------------
! Xterm is not used any more. Switch to alacritty because some Unicode symbols
!   only show left half while alacritty can show overlapping. It is better.
!
! This problem may be a well known problem and nobody wants to solve it, see
!   my notes for more details. The main ref is
!   https://github.com/alacritty/alacritty/issues/3172
!
! And according to my trying and observation to alacritty github repo, I think
!   it is more active, and it is going to be the best.
!
! If someday it is necessary to see my old XTerm configuration in this file,
!   see the history in github, before July 28, 2020.
!
!                                                   Zero
!                                             2020.07.28, 04:00
! -----------------------------------------------------------------------------

